/vendor/
config.php
/logs/
/work/
composer.phar
/uploaded/
robots.txt
.htaccess
.gitignore
sitemap.xml
composer.lock
/skins/admin/img/
/libs/PHPExcel/
.idea
/skins/default/get-js/
/skins/default/img/work/
.bowerrc
bower.json