AddDefaultCharset UTF-8
php_flag display_errors ON
php_value mbstring.internal_encoding UTF-8
php_flag magic_quootes_gpc Off
php_flag magic_quootes_runtime Off
php_flag register_globals Off

php_value memory_limit 128M
php_value upload_max_filesize 50M
php_value post_max_size 50M
php_value max_input_time 3000

RewriteEngine on

RewriteCond %{HTTP_HOST} ^www\.childrensdream\.com\.ua$ [NC]
RewriteRule ^(.*)$ http://childrensdream.com.ua/$1 [R=301,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/favicon.ico

RewriteRule ^(.*)$ index.php?route=$1 [L,QSA]

Options +FollowSymLinks
RewriteCond %{HTTP_HOST} ^www.childrensdream\.com\.ua$ [NC]
RewriteRule ^(.*)$ http://childrensdream.com.ua/$1 [R=301,L]