@media screen and (max-width: 1024px){
    header div.item,
    footer div.item,
    .staticText,
    div.staticText .text-item,
    .descriptinText .item-right img,
    .call-me,
    .call-me .text-item,
    .catalog,
    .catalog .text-item,
    .haracteristic,
    .desc-info,
    .desc-info .item,
    .dateil-info,
    .slider-for,
    .slider-for .item-photo img,
    .slider-nav .items-photo img,
    .catalog-order,
    .error-links{
        width:100%;
    }

    .catalog .el-item{
        width: 24%;
    }

    .item-left{
        margin-left:10px;
    }

    .commentview{
        margin-left:5px;
    }

}

@media screen and (max-width: 960px){
    div.top-menu li{
        margin-right:15px;
    }

    .st-1 table td:nth-child(2n){
        width:38%;
    }
}


@media screen and (max-width: 854px){
    div.top-menu li{
        margin-right:14px;
    }

    .form-comment{
        float: left;
        width: 54%;
        margin-left: 5px;
    }

    .commentview, .form-comment{
        width:96%;
    }
}


@media screen and (max-width: 848px){
    .top-menu, .fixed-menu{
        display:none;
    }
    .mobile-basket, #container, .pushy{
        display:block;
    }

    .information{
        position: absolute;
        right: 0;
        bottom: 12px;
    }

    .mobile-basket, #container{
        bottom: 75px;
    }

    .catalog .el-item {
        width: 30%;
        margin: 0 0 50px 3.9%;
    }

    .catalog .el-item:nth-child(3n-2){
        margin-left:0;
    }
}


@media screen and (max-width: 800px){
    .slider-nav .slick-list{
       display:none;
    }

    .dateil-info .el-slider .slider-for{
        top: 0;
        width:90%;
    }

    .dateil-info .slider-nav{
        position:absolute;
    }

    div.dateil-info .slider-nav{
        width: 97% !important;
        height: 100%;
    }

    div.dateil-info .slider-nav .icon-top,
    div.dateil-info .slider-nav .icon-bottom{
        z-index: 99;
        display:block;
        -moz-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        left: 0;
        position: absolute;
        top: 50%;
        margin-top: -30px;
        font-size: 42pt;
    }

    div.dateil-info .slider-nav .icon-bottom{
        right: 0;
        left:auto;
    }

    div.dateil-info .slider-nav .hidden-icon{
        display:block !important;
    }
}


@media screen and (max-width: 784px){
    div.st-1 table td:nth-child(2n){
        width:30% !important;
    }
    div.st-1 table td:nth-child(2n){
        width:48%;
    }

    .descript-text{
        width:60% !important;
    }
}

@media screen and (max-width: 720px){
    header .item .information{
        background: url('/skins/default/img/image.png') -65px -59px no-repeat;
        width: 425px;
    }
    header .item .information p {
        background-image:initial;
        font-size: 14pt;
        padding-top: 3px;
        width: 435px;
    }

}


@media screen and (max-width: 640px){
    header .item .information{
        background: url('/skins/default/img/image.png') 0 0 no-repeat;
        width: 305px;
    }
    header .item .information p {
        width: 305px;
        padding-top: 5px;
        font-size: 12.5pt;
    }

    .soc-link p{
        text-align: center;
        float:none;
        margin:0;
    }

    .descriptinText .item-left,
    .descriptinText .item-right{
        width:97% !important;
    }

    .descriptinText .item-right{
        text-align: center;
        margin-top:20px;
    }

    #about .item-right img, #payment .item-right img{
        width:auto;
    }

    div.form-call form{
        width: 95%;
        margin-left:10px;
    }

    .catalog .el-item {
        width: 43%;
        margin: 0 0 25px 6%;
    }

    .catalog .el-item:nth-child(3n-2){
        margin-left:6%;
    }

    .descript-text{
        width:50% !important;
    }

    div.dateil-info .el-slider,
    div.dateil-info .el-text{
        width:100%;
        float: left;
    }

    div.dateil-info .el-text p,
    div.dateil-info .el-text div{
        margin-left: 10px;
    }

    .slider-for .item-photo img{
        width:auto;
    }
}

@media screen and (max-width: 512px){
    header .item .information {
        background: url('/skins/default/img/image.png') -66px -104px no-repeat;
        position: relative;
        margin: 20px 0;
        width: 100%;
    }

    header .item .information p{
        font-size: 15pt;
        width: 100%;
    }

    #container{
        width:85px;
        bottom: 5px;
        left: 5px;
    }

    .mobile-basket{
        bottom: 110px;
    }

    div.st-2 table td:nth-child(2n){
        width:52% !important;
    }

    .descript-text{
        width:96% !important;
    }

    .cirkl-photo {
        width:100%;
    }

    .cirkl-photo div{
        margin:0 auto !important;
        margin-top:20px !important;
    }

    .dateil-info .el-slider .slider-for{
        left: 0;
        width:100%;
    }

    .dateil-info .el-slider .slider-for img{
        width:90%;
    }
}

@media screen and (max-width: 480px) {
    header .item .information {
        position: relative;
        margin: 20px 0;
        border-radius: 50px 40px 80px 70px;
    }

    body{
        margin: 0 0 170px 0;
    }

    #container {
        left: 5px;
        right: initial;
    }

    .mobile-basket {
        bottom: 110px;
    }

    .soc-link, .footer-logo {
        width: 100%;
    }

    .soc-link, .development-site, .soc-link a, .logo-img{
        text-align: center;
    }

    .logo-img{
        width:39%;
    }

    .development-site{
        width:57%;
        margin: 0;
    }

    .soc-link{
        margin-top: 10px;
    }

    .soc-link a{
        display: inline-block;
        float: none;
    }

    div.staticText:nth-child(1) .descriptinText .item-right img{
       width:auto;
    }

    div.st-1 table td:nth-child(2n){
        width:52% !important;
    }

    div.catalog table td:nth-child(2n){
        width:62% !important;
    }

    .no-item{
        font-size: 14pt;
    }

    #call div.form-call form div{
        width:98%;
        float:left;
    }
    #call form div input{
        width:100%;
    }
    #call div:nth-child(2), #call .capcha + div{
        right: 0;
    }

    #call div.form-call form{
        float:left;
    }

    .catalog .el-item{
        max-width:100%;
        margin-left:0;
        width: 100%;
    }

    .catalog .el-item:nth-child(3n-2){
        margin-left:0;
    }

    .table-haracteristic .tr div:nth-child(1){
        margin-right: 15px;
    }

    .catalog-order .hText{
        font-size:18pt;
    }

    .headers-tab p:nth-child(1),
    .line-tab-goods tr td:nth-child(1){
        display:none;
    }

    .catalog-order .table-count .line-tab-goods td,
    .catalog-order .bt{
        width:33%;
    }

    div.order-form input{
        width:195px !important;
    }
    div.order-form select{
        width:205px !important;
    }
    .catalog-order .order .order-form tr td:nth-child(1){
        width:45%;
    }
    .error-links p{
        font-size: 110pt;
        padding-top: 25px;
    }

    .no-goods{
        margin-top: 10px;
    }
}

@media screen and (max-width: 440px) {
    .slider-for .item-photo img {
        width: 100%;
    }

    .order-form table tr:last-child p {
        font-size: 11pt;
    }
}

@media screen and (max-width: 400px) {
    #payment .item-right img {
        width: 100%;
    }
}

@media screen and (max-width: 360px){
    header .item .information p {
        font-size:13pt;
    }
}