@import "../../../vendor/public/lesshat/build/lesshat";

@font-face {
  font-family: 'ComicSansMS';
  font-weight: normal;
  font-style: normal;
  src: url('font/comic/comic.eot');
  src: url('font/comic/comic.eot') format('embedded-opentype'),
       url('font/comic/comic.woff2') format('woff2'),
       url('font/comic/comic.woff') format('woff'),
       url('font/comic/comic.ttf') format('truetype'),
       url('font/comic/comic.svg#comic') format('svg');
}

@font-face {
  font-family: 'MyriadPro';
  font-weight: normal;
  font-style: normal;
  src: url('font/myriad/MyriadProRegular.eot');
  src: url('font/myriad/MyriadProRegular.eot') format('embedded-opentype'),
       url('font/myriad/MyriadProRegular.woff2') format('woff2'),
       url('font/myriad/MyriadProRegular.woff') format('woff'),
       url('font/myriad/MyriadProRegular.ttf') format('truetype'),
       url('font/myriad/MyriadProRegular.svg#MyriadProRegular') format('svg');
}

@font-Comic: ComicSansMS;
@font-Myriad: MyriadPro;
@color-text:#482200;
@color-sumbit:#a12a97;
@backgroung-toys: '/skins/default/img/pattern.png';

section, article, aside, footer, header, nav, main, time {
  display:block;
}

div, p, a, span, ul, li, table, tr, td, h1, h2, h3 {
  margin:0;
  padding:0;
  word-wrap: break-word;
  outline: none;
}

*::-moz-selection{
  color:#fff;
  text-shadow: none;
  background-color: #2A8CFD;
}

*::selection{
  color:#fff;
  text-shadow: none;
  background-color: #2A8CFD;
}

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.central(@margin, @adaptive-width:~'100%'){
  margin:@margin;
  width:1010px;

  @media screen and (max-width: 1024px){
    width:@adaptive-width;
  }
}

.shadow-text(){
  text-shadow:  1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff,-1px 1px 0 #fff, 2px 2px #fff,
    -2px -2px 0 #fff,2px -2px 0 #fff,-2px 2px 0 #fff,3px 3px #fff,-3px -3px 0 #fff,3px -3px 0 #fff,
  -3px 3px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff,0 -1px 0 #fff, 2px 0 0 #fff,
  -2px 0 0 #fff, 0 2px 0 #fff,0 -2px 0 #fff, 3px 0 0 #fff, -3px 0 0 #fff,  0 3px 0 #fff,
    0 -3px 0 #fff;
}

.line-silver-gradient(){
  background: rgba(249,249,249,1);
  background: -moz-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(248,248,248,1) 17%, rgba(247,247,247,1) 34%, rgba(246,246,246,1) 51%, rgba(245,245,245,1) 68%, rgba(244,244,244,1) 84%, rgba(243,243,243,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(249,249,249,1)), color-stop(17%, rgba(248,248,248,1)), color-stop(34%, rgba(247,247,247,1)), color-stop(51%, rgba(246,246,246,1)), color-stop(68%, rgba(245,245,245,1)), color-stop(84%, rgba(244,244,244,1)), color-stop(100%, rgba(243,243,243,1)));
  background: -webkit-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(248,248,248,1) 17%, rgba(247,247,247,1) 34%, rgba(246,246,246,1) 51%, rgba(245,245,245,1) 68%, rgba(244,244,244,1) 84%, rgba(243,243,243,1) 100%);
  background: -o-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(248,248,248,1) 17%, rgba(247,247,247,1) 34%, rgba(246,246,246,1) 51%, rgba(245,245,245,1) 68%, rgba(244,244,244,1) 84%, rgba(243,243,243,1) 100%);
  background: -ms-linear-gradient(top, rgba(249,249,249,1) 0%, rgba(248,248,248,1) 17%, rgba(247,247,247,1) 34%, rgba(246,246,246,1) 51%, rgba(245,245,245,1) 68%, rgba(244,244,244,1) 84%, rgba(243,243,243,1) 100%);
  background: linear-gradient(to bottom, rgba(249,249,249,1) 0%, rgba(248,248,248,1) 17%, rgba(247,247,247,1) 34%, rgba(246,246,246,1) 51%, rgba(245,245,245,1) 68%, rgba(244,244,244,1) 84%, rgba(243,243,243,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f3f3f3', GradientType=0 );
}

.vertical-middle-bottom(){
  color: black;
  position: absolute;
  text-align: center;
  font-size: 40px;
  top: 50%;
  margin-top: -20px;
  background: #CECECE;
  cursor: pointer;
  z-index: 10;
  .opacity(0.2);
  .transition(all 0.5s ease);

  &:hover{
    color:#000;
    .opacity(0.7);
    .transition(all 0.5s ease);
  }
}

.submit(){
  border: 0;
  outline: none;
  cursor: pointer;
  padding: 10px 60px;
  background-color:@color-sumbit;
  .border-radius(3px);
  font-family: @font-Myriad;
  font-size: 17px;
  color: #fff;
}

html{
  height: 100%;
  -ms-user-select: none;
}

body{
  position: relative;
  min-height: 100%;
  margin: 0;
}

header{
  background: url('/skins/default/img/pattern.png') #d4eff4;

  .header-block{
    &:extend(.clearfix all);
    .central(~'0 auto');
    padding: 10px 0;
  }
}

main{
  padding-bottom: 73px;

  @media screen and (max-width: 800px){
    padding-bottom: 82px;
  }

  @media screen and (max-width: 580px) {
    padding-bottom: 167px;
  }
}

footer{
  background: url('/skins/default/img/pattern.png') #d4eff4;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;

  .footer-block{
    &:extend(.clearfix all);
    .central(~'0 auto');
    padding: 5px 0;
  }
}

// --- ERRORS ---
.errors{
  border-color: red !important;
}

.no-errors {
  border-color: #9bd6e7 !important;
  .transition(all 2s ease);
}

.iEror{
  font: 140pt @font-Myriad;
  color: #42D2E1;
  text-align: center;

  @media screen and (min-width: 513px){
    position: absolute;
    top: 50%;
    left: 50%;
    .transform(translate(-50%, -50%));
  }

  @media screen and (max-width: 512px){
    font-size: 110pt
  }
}
// --- END ERRORS ---

// --- HEADER ---
.logo{
  width:186px;
  float: left;
}

a[class^="lang_"]{
  display: inline-block;
  float: left;
  background: url('/skins/default/img/image.png') no-repeat -353px -18px;
  width: 45px;
  height: 32px;
  text-decoration: none;
  text-align: center;
  color:#d4eff4;
  line-height: 32px;
  font-size: 16px;
  font-family:@font-Comic;

  &.act-lang, &:hover{
    color:#FFE600;
  }

  &.lang_ua{
    margin-left:22px;
  }

  &.lang_ru{
    margin: 14px 0 0 5px;
  }
}

.call-us{
  float: right;
  text-decoration: none;
  color:#3f627b;
  font-family: @font-Comic;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  background: url('/skins/default/img/image.png') -55px -105px no-repeat;
  width: 490px;
  height: 41px;
  display: inline-block;
  line-height:33px;
  margin-top: 10px;

  @media screen and (max-width: 720px){
    background: url('/skins/default/img/image.png') -65px -59px no-repeat;
    width: 425px;
    font-size:20px;
  }

  @media screen and (max-width: 640px){
    background: url('/skins/default/img/image.png') 0 0 no-repeat;
    width: 305px;
    font-size:17px;
  }

  @media screen and (max-width: 512px){
    background: url('/skins/default/img/image.png') -64px -104px no-repeat;
    width:100%;
    font-size:20px;
    margin: 20px 0 0 0;
    border-radius: 50px 40px 80px 70px;
  }

  @media screen and (max-width: 360px){
    font-size:17px;
  }
}

.top-menu{
  float: right;
  margin-top: 20px;
  .transition(margin-top 0.7s ease);

  ul{
    list-style: none;
    float: right;

    @media screen and (max-width: 848px){
      display: none;
    }
  }

  li{
    float: left;
    margin-right: 32px;

    @media screen and (max-width: 960px){
      margin-right:16px;
    }

    @media screen and (max-width: 854px){
      margin-right:14px;
    }

    &:last-child{
      margin-right: 24px;

      span{
        background: url('/skins/default/img/image.png') -322px -18px no-repeat;
        width:20px;
        height: 25px;
        display: inline-block;
        font-size: 13px;
        text-align: center;
        color: #FFF;
        position: absolute;
        top: 0;
        right: -22px;
      }
    }

    &.active{
      a{
        &:after{
          .opacity(1);
        }
      }
    }
  }

  a{
    color:@color-text;
    text-decoration: none;
    font-family: @font-Comic;
    font-size:18.5px;
    position: relative;

    &:after{
      display: inline-block;
      content:'';
      background: url('/skins/default/img/image.png') -319px -6px no-repeat;
      width: 100%;
      height: 10px;
      position: absolute;
      bottom: -9px;
      left: 0;
      .opacity(0);
      .transition(opacity 0.7s ease);
      .border-radius(30px);
    }

    &:hover{
      &:after{
        display: inline-block;
        .opacity(1);
        .transition(opacity 0.7s ease);
      }
    }
  }

  .menu-icon{
    display: none;
  }
}

.pushy-mob-menu{
  display:none;
  float: left;
  width: 100%;
  margin-top: 10px;
  background-color: rgba(212, 239, 244, 0.6);

  .menu-icon{
    display: none;
  }

  ul{
    overflow: hidden;
    border-top: 2px dashed #FFF;
    border-bottom: 2px dashed #fff;
    padding: 10px 0;
  }

  li{
    margin: 4px 0;
    position: relative;
    .transition(all 0.5s ease-out);

    &:before{
      content: '';
      position: absolute;
      height: 3px;
      background-color: #7BD7E8;
      width: 6%;
      top: 50%;
      left: 0;
      .transition(all 0.5s ease-out);
    }

    &:after{
      content: '';
      position: absolute;
      height: 3px;
      background-color: #7BD7E8;
      top: 50%;
      right: -57%;
      width: 57%;
      .transition(all 0.5s ease-out);

      @media screen and (max-width: 640px) {
        width: 46%;
      }

      @media screen and (max-width: 480px) {
        width: 36%;
      }

      @media screen and (max-width: 390px) {
        width: 24%;
      }
    }

    &:last-child{
      display: none;
    }

    &:hover{
      background-color: rgba(175, 225, 233, 0.5);
      .transition(all 0.5s ease-out);

      &:after{
        right: 2%;
        .transition(all 0.5s ease-out);
      }
    }

    &.active{
      background-color: rgba(175, 225, 233, 0.5);
      .transition(all 0.5s ease-out);

      &:before{
        left: 0;
        .transition(all 0.5s ease-out);
      }

      &:after{
        right: 2%;
        .transition(all 0.5s ease-out);
      }
    }
  }

  a{
    color: @color-text;
    text-decoration: none;
    font-family: @font-Comic;
    font-size: 21px;
    padding: 6px 8%;
    width: 84%;
    display: inline-block;
    font-weight: bold;
    .shadow-text();
  }
}

.fixed-menu{
  position: fixed;
  width:100%;
  z-index: 99;
  max-width: 1010px;
  top: 3px;
  padding: 3px 0 10px 0;
  background-color: #D4EFF4;
  margin: 0;
  .box-shadow(0px 0px 10px 0px rgba(15, 15, 15, 0.3));
  .border-radius(4px);

  @media screen and (max-width: 848px){
    display: none;
  }

  .menu-icon{
    display: inline-block;
    position: absolute;
    left: 7px;
    top: 5px;
    width: 30px;
    height: 32px;
    background: url("/skins/default/img/image.png") -405px -18px no-repeat;
  }

  ul{
    float:left;
    margin-left:10px;
  }

  li{
    margin: 0 32px;
    position: relative;

    &:before{
      content:'';
      display: block;
      width: 1px;
      height: 30px;
      position: absolute;
      right: -30px;
      top: 0;
      background: #FFFFFF;
    }

    &:last-child{
      &:before{
        display: none;
      }
    }

    @media screen and (max-width: 960px){
     margin-right:20px;
    }
    @media screen and (max-width: 900px){
      margin: 0 22px 0 22px;
    }
    @media screen and (max-width: 854px){
      margin-right:12px;
    }
  }
}

.mob-menu{
  display:none;
  font-size:21px;
  float:right;
  font-family: @font-Comic;
  color:@color-text;
  cursor: pointer;
  margin: 10px 30px 10px 0;
  .transition(color 0.7s ease);

  &.aciveMenu{
    color:#4C75A3;
    .transition(color 0.7s ease);
  }

  @media screen and (max-width: 848px){
    display:block;
  }
  @media screen and (max-width: 540px){
    display:none;
  }
}

.mobile-menu{
  display: block;
  float: left;
  margin: 10px 0 0 0;
  width: 100%;
  text-align: center;
  position: relative;
  border-top: 2px dashed #FFF;
  border-bottom: 2px dashed #fff;
  .transition(background 0.7s ease);

  &:before{
    content: '';
    position: absolute;
    height: 3px;
    background-color: #7BD7E8;
    width:0;
    top: 50%;
    left: 0;
    .transition(all 0.5s ease-out);
  }

  &:after {
    content: '';
    position: absolute;
    height: 3px;
    background-color: #7BD7E8;
    top: 50%;
    right: 0;
    width: 0;
    .transition(all 0.5s ease-out);
  }

  &.aciveMenu{
    padding: 2px 0;
    background-color: rgba(175, 225, 233, 0.5);
    border:0;
    .transition(border 0.1s ease);

    &:after {
      width: 30%;
      .transition(all 0.7s ease-out);
    }

    &:before{
      width: 30%;
      .transition(all 0.7s ease-out);
    }
  }
}

.mobile-basket{
  float: right;
  color: @color-text;
  font-family: @font-Comic;
  text-decoration: none;
  font-size: 21px;
  position: relative;
  margin: 10px 30px 10px 0;

  span{
    background: url('/skins/default/img/image.png') -322px -18px no-repeat;
    width:20px;
    height: 25px;
    display: inline-block;
    font-size: 13px;
    text-align: center;
    color: #FFF;
    position: absolute;
    top: 0;
    right: -22px;
  }

  &:after{
    display: inline-block;
    content:'';
    background: url('/skins/default/img/image.png') -319px -6px no-repeat;
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: -9px;
    left: 0;
    .opacity(0);
    .transition(opacity 0.7s ease);
    .border-radius(30px);
  }

  &:hover{
    &:after{
      display: inline-block;
      .opacity(1);
      .transition(opacity 0.7s ease);
    }
  }

  @media screen and (min-width: 849px){
    display:none;
  }
  @media screen and (max-width: 512px){
    margin: 20px 30px 0 80px;
  }
  @media screen and (max-width: 400px){
    margin-left: 0;
  }
}

.toTop{
  position: fixed;
  z-index: 99;
  .opacity(0.5);
  .transition(opacity 1s ease);
  color:@color-text;
  font-family: @font-Comic;
  display: none;
  cursor: pointer;
  right: 20px;
  font-weight: bold;
  bottom: 160px;

  &:before{
    content: '';
    background: url("/skins/default/img/image.png") 0 -53px no-repeat;
    width: 60px;
    height: 100px;
    display: inline-block;
    position: absolute;
    bottom: 20px;
    left: -2px;
  }

  &:hover{
    .opacity(1);
    .transition(opacity 1s ease);
  }
}

// --- END HEADER ---


// --- FOOTER ---
.logo-img{
  float: left;
  margin-top: 5px;

  @media screen and (max-width: 580px) {
    margin-left: 15%;
  }

  @media screen and (max-width: 480px) {
    margin-left: 10%;
  }

  @media screen and (max-width: 400px) {
    margin-left: 5%;
  }
}

.development-site{
  font-family: @font-Comic;
  float:left;
  font-size:14px;
  font-weight: bold;
  color:@color-text;
  margin: 5px 0 0 15px;

  @media screen and (max-width: 580px) {
    float: right;
    text-align: center;
    width:65%;
  }
}

.soc-link{
  &:extend(.clearfix all);
  float:right;
  font-family: @font-Comic;

  @media screen and (max-width: 580px){
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }

  p{
    font-size:14px;
    font-weight: bold;
    color:@color-text;
    margin-top:15px;
    float: left;

    @media screen and (max-width: 800px){
      text-align: center;
      float:none;
      margin:0;
    }
  }

  a{
    font-size:40pt;
    text-decoration: none;
    float: left;

    @media screen and (max-width: 580px) {
      text-align: center;
      display: inline-block;
      float: none;
    }

    &:hover{
      .opacity(0.9);
    }
  }
}
// --- END FOOTER ---

// --- MAIN CONTENT ---

// --- SLIDER ---
.main-banner{
  width:100%;
  background: url('/skins/default/img/image.png') 50px -200px repeat-x #ffffff;
  font-size: 0;
  height: auto;
  max-height: 296px;
}

.slide-list{
  .central(~'0 auto');
  position: relative;
  overflow: hidden;

  .next-slide{
    .vertical-middle-bottom();
    left:0;
  }
  .prev-slide{
    .vertical-middle-bottom();
    right: 0;
  }

  @media screen and (max-width: 1024px) {
    img{
      width:100%;
    }
  }
}

.slide-wrap{
  &:extend(.clearfix all);
  position: relative;
  width: 10000000px;
  left: 0;
  top: 0;

  .slide-item{
    float: left;

    img{
      height:auto;
    }
  }
}
// --- END SLIDER ---

// --- ABOUT TEXT ---
.about-text{
  background: url('/skins/default/img/pattern.png') #d4eff4;

  .about-block{
    &:extend(.clearfix all);
    .central(~'0 auto');
    padding-bottom: 10px;
  }

  p:not(.title-text){
    color: @color-text;
    font-family: @font-Myriad;
    margin-top: 5px;
    width: 76%;
    margin-right: 1%;
    float: left;
    .shadow-text();

    @media screen and (max-width: 1024px){
      margin-left: 2%;
    }

    @media screen and (max-width: 640px){
      width: 97%;
      float: inherit;
      text-align: justify;
    }
  }

  img{
    width: 20%;
    max-width: 194px;
    margin-top: 20px;

    @media screen and (max-width: 640px){
      margin: 10px auto 0;
      width: 100%;
      display: block;
    }
  }
}
// --- END ABOUT TEXT ---

// --- TITLE TEXT ---
.block-title{
  margin-bottom: 10px;

  @media screen and (max-width: 1024px){
    width: 97%;
    margin:0 auto;
  }

  p, h1{
    width: 5% !important;
    padding: 0 15px;
    color: @color-text;
    font: 30px  @font-Comic;
    font-weight: bold;
    display:table-cell;
    float: none !important;
    .shadow-text();
  }

  .line {
    display:table-cell;

    &:before{
      content: '';
      width: 100%;
      height: 5px;
      display: block;
      position: relative;
      bottom: 5px;
      background-color: #7BD7E8;
    }
  }
}
// --- END TITLE TEXT ---

// --- PRODUCTS ---
.products{
  width:100%;
  background: #ffffff;
  padding-top: 15px;
  .central(~'0 auto');
  &:extend(.clearfix all);
}

.mattress{
  min-height: 315px;
  height: auto;
  text-align: center;
  width: 23%;
  float: left;
  margin: 10px 1% 0;

  &:hover{
    img{
      bottom: 5px;
      .transition(bottom 300ms ease-out);
    }
  }

  .links{
    text-decoration: none;
    margin:10px 0 5px 0;
    font-family: @font-Comic;
    color:@color-text;
    width: 100%;
    display: inline-block;
    min-height: 50px;
    max-width: 250px;
  }

  @media screen and (max-width: 848px){
    width: 31%;
  }

  @media screen and (max-width: 640px){
    width: 48%;
  }

  @media screen and (max-width: 480px){
    width: 98%;
    margin-top:20px;
  }
}

.photos{
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 1px solid @color-sumbit;

  img{
    position: relative;
    bottom: -13px;
    .transition(bottom 300ms ease-out);
  }
}

.price{
  font-family: @font-Comic;
  color:@color-sumbit;
  font-size: 21px;
  margin:15px 0;
}

.aviability{
  color:@color-text;
  font-family: @font-Comic;
}

.no-element {
  text-align: center;
  color: @color-text;
  font: 32px @font-Comic;
  margin: 40px 0;
  width:100%;
}
// --- END PRODUCTS ---

// --- INFORMATION ---
.information-shop{
  background: url('/skins/default/img/pattern.png') #d4eff4;

  .information-block{
    .central(~'0 auto', ~'97%');
    padding-bottom: 10px;
  }

  h1{
    color: @color-text;
    font-family: @font-Comic;
    font-size: 32px;
    margin-bottom: 15px;
    text-align: center;
    .shadow-text();
  }

  p{
    text-align: justify;
    color: @color-text;
    font-family: @font-Myriad;
    margin: 10px 0;
    .shadow-text();

    &:nth-child(4){
      font-size: 19px;
    }
  }

  ul{
    font-size: 15px;
    margin-left: 15px;
  }

  li{
    color: @color-text;
    margin: 10px 0 0;
    font-size: 16px;
    .shadow-text();

    @media screen and (max-width: 848px){
      text-align: justify;
    }
  }
}
// --- END INFORMATION ---

// --- DELIVERY PAYMENT ---
.delivery-payment{
  background: url('/skins/default/img/pattern.png') #d4eff4;

  .delivery-block{
    .central(~'0 auto', ~'97%');
    &:extend(.clearfix all);
    .shadow-text();
    color:@color-text;
    font-family:@font-Myriad;
    padding-bottom: 10px;
  }


  .block-title{
    width:100%;
  }

  strong{
    font-size: 14pt;
    font-family: @font-Comic;
  }

  p{
    margin-top: 5px;
    float: left;
    width: 60%;

    @media screen and (max-width: 848px){
      width: 97%;
      float: inherit;
      text-align: justify;
    }
  }

  ul{
    font-size: 15px;
    margin-left: 15px;
    float: left;
    width: 60%;

    @media screen and (max-width: 848px){
      width: 95%;
      float: inherit;
    }
  }

  li{
    color: @color-text;
    margin: 3px 0;
    font-size: 16px;

    @media screen and (max-width: 848px){
      text-align: justify;
    }
  }

  img{
    width: 36%;
    margin:65px 0 0 2%;

    @media screen and (max-width: 848px){
      margin: 15px auto 0;
      width: 97%;
      display: block;
      max-width: 370px;
    }
  }
}
// --- END DELIVERY PAYMENT ---

// --- CONTACT ---
.contact{
  width: 100%;
  background: #ffffff;
  .central(~'10px auto 50px', ~'97%');
  font-family: @font-Myriad;
  color:@color-text;

  .block-title{
    width: 100%;
  }

  .info-call{
    margin: 10px 0;
  }

  span{
    color: #9e0000;
  }

  form{
    margin: 0 auto;
    width: 600px;
    &:extend(.clearfix all);

    @media screen and (max-width: 640px){
      width: 96%;
      margin: 0 2%;
    }
  }

  input[type="email"],
  input[type="text"],
  textarea{
    padding: 4px 0;
    width: 100%;
    border: 1px solid #9bd6e7;
    outline: none;
  }

  input[type="submit"]{
    .submit();
    display: block;

    &:hover {
      background-color: lighten(@color-sumbit, 10%);
    }
  }
}

.name-email{
  width: 220px;

  @media screen and (max-width: 512px){
    width: 100%;
    margin-top: 10px;
  }

  &:first-child{
    float:left;
  }

  &:nth-child(2){
    float: right;
  }
}

.thems, .form-text{
  float: left;
  width: 100%;
  margin-top: 15px;

  &+textarea{
    resize: none;
    min-height: 120px;
  }
}

.acces-capcha{
  width: 220px;
  float: right;
  margin-top: 5px;

  @media screen and (max-width: 450px){
    width: 100%;
    margin: 10px 0;
  }
}

.this-ok, .this-ok+p{
  font: 22px @font-Comic;
  text-align: center;
}

.limit{
  font-size: 22px;
  margin-top: 15px;
  text-align: center;
}
// --- END CONTACT ---


// --- DETAIL MATTRESS ---
.description{
  background: url('/skins/default/img/pattern.png') #d4eff4;

  .description-block{
    &:extend(.clearfix all);
    .central(~'10px auto', ~'97%');
    padding-bottom: 10px;
  }

  .block-title{
    width: 100%;

    p{
      font-size: 22px;
    }

    .line{
      &:before{
        background-color:#72afc1;
      }

      &:first-child{
        width: 5%;
      }
    }
  }
}

.description-text{
  font-family: @font-Myriad;
  float:left;
  width: 70%;
  margin-top: 10px;
  .shadow-text();

  @media screen and (max-width: 848px){
    width: 60%;
  }

  @media screen and (max-width: 640px){
    width: 100%;
    float:inherit;
  }
}

.circle-photo{
  margin: 10px 30px 0 0;
  border: 5px solid #72afc1;
  width: 170px;
  height: 170px;
  background-color: white;
  overflow: hidden;
  z-index: 5;
  position:relative;
  float:right;
  .border-radius(100%);

  img{
    position: absolute;
    left: -35px;
  }

  @media screen and (max-width: 640px){
    margin: 10px auto;
    float:inherit;
  }
}

.haracteristic{
  .central(~'15px auto', ~'97%');
  &:extend(.clearfix all);

  .block-title{
    width: 100%;

    p{
      font-size: 22px;
    }

    .line{
      &:first-child{
        width: 5%;
      }
    }
  }

  table{
    width: 100%;
    margin-top: 10px;
    color: @color-text;
    font: 16px @font-Myriad;
    border-collapse:collapse;
  }

  tr{
    border-top: 1px solid #dedede;
  }

  td{
    padding: 5px 0;

    &:nth-child(2n-1){
      width: 50%;
    }

    &:nth-child(2n){
      padding-left: 15px;
    }
  }
}

.mattress-detail{
  .central(~'0 auto', ~'97%');
  &:extend(.clearfix all);

  h1{
    font-size: 20px;
    font-family: @font-Comic;
    color: @color-text;
    margin-bottom: 10px;
    text-align: center;
  }

  padding: 15px 0;

  .slider-for{
    float:left;
    width:70%;
    left: 20px;
    top: 35px;


    @media screen and (max-width: 800px){
      top: 0;
      width:90%;
    }

    @media screen and (max-width: 512px){
      left: 0;
      width:100%;
    }
  }

  .item-photo{

    img{
      margin: 0 auto;
      max-height:270px;
      cursor: pointer;
      max-width: 380px;

      @media screen and (max-width: 1024px){
        width:100%;
      }

      @media screen and (max-width: 640px){
        width:auto;
      }

      @media screen and (max-width: 512px){
        width:90%;
      }
    }
  }

  .slider-nav{
    float:left;
    width:20%;
    margin:0 5px;
    text-align: center;

    @media screen and (max-width: 800px){
      position:absolute;
      width: 97%;
      height: 100%;

      .slick-list{
        display:none;
      }
    }

    .slick-center {
      border: 1px solid #ccc;
    }

    .icon-top,
    .icon-bottom{
      color:#72AFC1;
      position: relative;
      cursor: pointer;
      font-size: 24pt;

      &:hover{
        color: #00D7E6;
      }

      @media screen and (max-width: 800px){
        z-index: 99;
        display:block;
        .transform(rotate(-90deg));
        left: 0;
        position: absolute;
        top: 50%;
        margin-top: -30px;
        font-size: 42pt;
      }
    }

    .icon-bottom{
      @media screen and (max-width: 800px){
        right: 0;
        left:auto;
      }
    }
  }
}

.goods{
  &:extend(.clearfix all);
  width: 46%;
  float: right;
  font-family: @font-Comic;
  color: @color-text;

  @media screen and (max-width: 640px){
    width:100%;
  }

  p{
    margin: 10px 0;
  }

  .price{
    float:left;
  }
}

.slider-detail{
  float:left;
  position: relative;
  width:54%;
  &:extend(.clearfix all);
  overflow: hidden;

  @media screen and (max-width: 640px){
    width:100%;
  }

  .currenc .slick-current{
    border: 1px solid #ccc;
  }

  .slick-slider{
    margin-bottom:0;
  }

  .good-view{
    width:100%
  }

  .slider-for.good-top{
    top:0;
  }

  .items-photo{
    margin: 5px 0;
    cursor: pointer;

    img{
      margin: 0 auto;
      max-height:270px;
      max-width:100px;

      @media screen and (max-width: 1024px){
        width:100%;
      }
    }
  }
}

.add-shop{
  float:left;
  padding: 10px 20px !important;
  display: inline-block;
  margin: 10px 15px;

  .submit();

  &:hover{
    background-color: lighten(@color-sumbit, 10%);
  }
}

.backet-ok{
  background: #FFF;
  border: 4px solid @color-sumbit;
  color: @color-sumbit;
  padding: 6px 18px !important;

  &:hover{
    background-color: #FFF;
    cursor: default;
  }

  .transition(background 0.4s ease-out);
}
// --- END DETAIL MATTRESS ---

// --- COMMENTS ---
.comments{
  .central(~'0 auto', ~'97%');
  &:extend(.clearfix all);
}

.view-comments {
  float: left;
  width: 54%;
  margin-bottom: 20px;

  @media screen and (max-width: 854px){
    width: 100%;
  }

  h3{
    color:@color-text;
    font: 29px @font-Comic;
    margin-top:20px;
    font-weight: normal;
    margin-bottom: 0;

    & + p{
      color:@color-text;
      font: 19px @font-Comic;
      margin-top:10px;
    }
  }
}

.comment-item{
  padding:10px;
  border: 1px solid #dadada;
  margin: 30px 0 0 0;
  &:extend(.clearfix all);
  .line-silver-gradient();

  .text-coment{
    font: 16px @font-Myriad;
    color: @color-text;
    float:none;
  }

  p{
    font-size: 22px;
    margin-top: 10px;
    font-family: @font-Comic;
    color: #1a6ab5;
    float: left;
  }

  time{
    color: #1a6ab5;
    font-size: 14px;
    font-family: @font-Comic;
    float:right;
    margin-top: 20px;
  }
}

.no-comments{
  font-family: @font-Myriad;
  font-size: 22px;
  color:@color-sumbit;
  margin-top: 30px;

  @media screen and (max-width: 480px) {
    font-size: 14pt;
  }
}

.form-comment{
  float: right;
  width:42%;
  min-height: 406px;

  @media screen and (max-width: 854px){
    margin-left: 5px;
    width:100%;
  }

  h3{
    color: @color-text;
    font-size: 29px;
    font-family: @font-Comic;
    margin: 20px 0 0 0;
    font-weight: normal;
  }

  p{
    color: @color-text;
    font: 15px @font-Myriad;

    &:first-child{
      margin-top: 20px;
    }
  }

  input{
    padding: 4px 0;
    border: 1px solid #9bd6e7;
    width: 200px;
    outline: none;
    margin-bottom: 10px;
  }

  textarea{
    resize: none;
    min-height: 120px;
    padding: 4px 0;
    border: 1px solid #9bd6e7;
    width: 100%;
    outline: none;
    max-width: 600px;
    margin-bottom: 10px;
  }

  input[type="submit"]{
    .submit();
    display: block;

    &:hover{
      background-color: lighten(@color-sumbit, 10%);
    }

    &:active{
      padding-top: 11px;
      height: 40px;
    }
  }
}

.thanks{
  color: @color-text;
  font: 22px @font-Comic;
  text-align: center;
  margin-top: 20px;
}

.hack-error,
.thanks{
  display:none;
}
// --- END COMMENTS ---

// --- ORDER ---
.order{
  color: @color-text;
  font-family: @font-Myriad;

  .central(~'0 auto', ~'97%');
  &:extend(.clearfix all);

  .h-title{
    font-size: 29px;
    text-align: left;
    font-family: @font-Comic;
    margin-bottom: 15px;

    @media screen and (max-width: 480px) {
      font-size:24px;
    }
  }

  input[type="submit"]{
    .submit();
    padding: 10px 25px;

    &:hover{
      background-color: lighten(@color-sumbit, 10%);
    }

    &:active{
      padding-top: 11px;
      height: 40px;
    }
  }
}

.sum-price{
  margin: 30px 0;
  padding: 5px 0;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;

  span{
    color:@color-sumbit;
  }
}

.table-count{
  max-width: 630px;
  margin-right: 5px;
}

.line-tab-goods {
  width: 100%;
  border: 1px solid #dedede;
  border-top: 0;
  border-collapse: collapse;

  .del-good {
    cursor: pointer;
    &:hover {
      .icon-cross:before {
        color: #F70000;
      }
    }
  }

  tr {
    &:not(:first-child) {
      border-top: 1px dashed #613f21;
    }

    td {
      padding: 5px;
      width: 22%;
      text-align: center;

      @media screen and (max-width: 480px) {
        width: 33%;
      }

      &:first-child {
        @media screen and (max-width: 480px) {
          display: none;
        }
      }

      &:nth-child(2) {
        width: 30%;
      }

      &:last-child {
        width: 4%;

        .icon-cross:before {
          cursor: pointer;
        }

      }

      &:nth-child(4) {
        color: @color-sumbit;
      }

      img, span, a, input {
        vertical-align: middle;
        text-align: center;
      }

      input {
        width: 40px;
        outline: none;
        border-radius: 3px;
        border: 1px solid #7BD7E8;
        padding: 4px;
      }

      img {
        width: 100%;
      }
    }
  }
}

.headers-tab{
  &:extend(.clearfix all);

  p{
    float:left;
    background-color: #613f21;
    text-align: center;
    color:#fff;
    padding: 4px 0;
    height: 20px;

    display:table-cell;
    width: 22%;
    @media screen and (max-width: 480px) {
      width:33%;
    }


    &:first-child{
      @media screen and (max-width: 480px) {
        display:none;
      }
    }

    &:nth-child(2){
      width:30%;
    }

    &:last-child{
      width: 4%;
    }
  }
}

.order-form{
  border-bottom: 1px solid #dedede;
  margin-bottom: 15px;
  padding-bottom: 30px;
  &:extend(.clearfix all);

  p{
    float:left;
    clear: both;
    width: 40%;
    max-width: 250px;
    margin: 15px 0 0;
    line-height: 25px;

    span{
      color: #9e0000;
    }
  }

  input, select{
    float:left;
    margin: 15px 0 0;
    width: 230px;
    outline: none;
    padding: 4px 0;
    .border-radius(2);
    border: 1px solid #7BD7E8;

    @media screen and (max-width: 512px) {
      width: 180px;
      float: right;
    }
  }

  .capcha{
    clear: both;
    display: block;
  }
}

.no-goods{
  font-family: @font-Comic;
  font-size: 24px;
  text-align: center;
  padding: 60px 0;

  @media screen and (min-width: 513px){
    position: absolute;
    padding: 0;
    top: 50%;
    left: 50%;
    .transform(translate(-50%, -50%));
  }



  a{
    color: #3f627b;

    &:hover{
      text-decoration: none;
    }
  }
}

.care{
  margin:20px 0 40px 10px;
}
// --- END ORDER ---

// --- END MAIN CONTENT ---

// --- ICON ---
#container span[class*="icon-"] {
  position: relative;
  top: 1px;
}

@font-face {
  font-family: 'icomoon';
  src: url('font/icomoon.eot?dalanp');
  src: url('font/icomoon.eot?dalanp#iefix') format('embedded-opentype'),
  url('font/icomoon.ttf?dalanp') format('truetype'),
  url('font/icomoon.woff?dalanp') format('woff'),
  url('font/icomoon.svg?dalanp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-left:before {
  content: "\e314";
}
.icon-right:before {
  content: "\e315";
}
.icon-top:before {
  content: "\e316";
}
.icon-mob-menu:before {
  content: "\e903";
}
.icon-bottom:before {
  content: "\e317";
}
.icon-facebook:before {
  content: "\e900";
  color: #3a589b;
}
.icon-vkontakte:before {
  content: "\e901";
  color:#4c75a3;
}
.icon-instagram:before {
  content: "\e902";
  color:#000000;
}
.icon-cross:before {
  content: "\e904";
  color:#ccc;
}
.icon-close:before{
  content: "\e904";
}
.icon-check-ok:before {
  content: "\e905";
  color: #00D808;
}
.icon-basket:before {
  content: "\e906";
}
.icon-google-plus3:before {
  content: "\e907";
  font-size: 32pt;
  color: #D0422A;
  padding: 0 4px;
  position: relative;
  top: -4px;
}
// --- END ICON ---

// --- END SLICK - SLIDE ---
.slick-slider {
  position: relative;
  display: block;
  -webkit-touch-callout: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  .user-select(none);
  .box-sizing(border-box);
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &.dragging {
    cursor: pointer;
  }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  .transform(translate3d(0, 0, 0));
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  [dir="rtl"] & {
    float: right;
  }
  img {
    display: block;
  }
  &.slick-loading img {
    display: none;
  }

  display: none;

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}
.slick-arrow.slick-hidden {
  display: none;
}
// --- END SLICK - SLIDE ---

// --- MODAL WINDOW ---
.fixed-overlay {
  text-align: center;
  position: fixed;
  display:none;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 99;

  .modal {
    align-items: center;
    height: 100%;
    .display(flex);

    img{
      width:700px;
      max-width: 700px;
      display:block;
      max-height: 550px;

      @media screen and (max-width: 970px) {
        max-width:600px;
      }
    }
  }

  .modal_container {
    margin: auto;
    padding: 10px;
    min-width: 200px;
    background-color: #fff;
    color: #000;
    position: relative;
    border: 2px solid #0066A2;
    .border-radius(5px);
  }

  .icon-close{
    background: #000;
    padding: 7px;
    border-radius: 100%;
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 99;
    cursor: pointer;
    color:#fff;
    .transition(all 0.5s ease);

    &:hover{
      color:#0066A2;
      .transition(all 0.5s ease);
    }
  }

  .btnModal-right, .btnModal-left{
    position: absolute;
    z-index: 99;
    top: 50%;
    margin-top: -15px;
    background: #000;
    padding: 5px;
    border-radius: 100%;
    cursor: pointer;
    color: #fff;
    border: 2px solid white;
    font-size: 20pt;
    font-weight: bold;
    .transition(all 0.5s ease);

    &:hover{
      color:#0066A2;
      border-color: #0066A2;
      .transition(all 0.5s ease);
    }
  }

  .btnModal-right{
    left:-70px;

    &.icon-top{
      .transform(rotate(-90deg));
    }
  }

  .btnModal-left{
    right: -70px;

    &.icon-bottom{
      .transform(rotate(-90deg));
    }
  }
}
// --- END MODAL WINDOW ---