@font-face {
  font-family: 'ComicSansMS';
  font-weight: normal;
  font-style: normal;
  src: url('font/comic/comic.eot');
  src: url('font/comic/comic.eot') format('embedded-opentype'), url('font/comic/comic.woff2') format('woff2'), url('font/comic/comic.woff') format('woff'), url('font/comic/comic.ttf') format('truetype'), url('font/comic/comic.svg#comic') format('svg');
}
@font-face {
  font-family: 'MyriadPro';
  font-weight: normal;
  font-style: normal;
  src: url('font/myriad/MyriadProRegular.eot');
  src: url('font/myriad/MyriadProRegular.eot') format('embedded-opentype'), url('font/myriad/MyriadProRegular.woff2') format('woff2'), url('font/myriad/MyriadProRegular.woff') format('woff'), url('font/myriad/MyriadProRegular.ttf') format('truetype'), url('font/myriad/MyriadProRegular.svg#MyriadProRegular') format('svg');
}
section,
article,
aside,
footer,
header,
nav,
main,
time {
  display: block;
}
div,
p,
a,
span,
ul,
li,
table,
tr,
td,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  outline: none;
}
*::-moz-selection {
  color: #fff;
  text-shadow: none;
  background-color: #2A8CFD;
}
*::selection {
  color: #fff;
  text-shadow: none;
  background-color: #2A8CFD;
}
.clearfix:before,
.clearfix:after,
header .header-block:before,
header .header-block:after,
footer .footer-block:before,
footer .footer-block:after,
.soc-link:before,
.soc-link:after,
.slide-wrap:before,
.slide-wrap:after,
.about-text .about-block:before,
.about-text .about-block:after,
.products:before,
.products:after,
.delivery-payment .delivery-block:before,
.delivery-payment .delivery-block:after,
.contact form:before,
.contact form:after,
.description .description-block:before,
.description .description-block:after,
.haracteristic:before,
.haracteristic:after,
.mattress-detail:before,
.mattress-detail:after,
.goods:before,
.goods:after,
.slider-detail:before,
.slider-detail:after,
.comments:before,
.comments:after,
.comment-item:before,
.comment-item:after,
.order:before,
.order:after,
.headers-tab:before,
.headers-tab:after,
.order-form:before,
.order-form:after {
  content: " ";
  display: table;
}
.clearfix:after,
header .header-block:after,
footer .footer-block:after,
.soc-link:after,
.slide-wrap:after,
.about-text .about-block:after,
.products:after,
.delivery-payment .delivery-block:after,
.contact form:after,
.description .description-block:after,
.haracteristic:after,
.mattress-detail:after,
.goods:after,
.slider-detail:after,
.comments:after,
.comment-item:after,
.order:after,
.headers-tab:after,
.order-form:after {
  clear: both;
}
html {
  height: 100%;
  -ms-user-select: none;
}
body {
  position: relative;
  min-height: 100%;
  margin: 0;
}
header {
  background: url('/skins/default/img/pattern.png') #d4eff4;
}
header .header-block {
  margin: 0 auto;
  width: 1010px;
  padding: 10px 0;
}
@media screen and (max-width: 1024px) {
  header .header-block {
    width: 100%;
  }
}
main {
  padding-bottom: 73px;
}
@media screen and (max-width: 800px) {
  main {
    padding-bottom: 82px;
  }
}
@media screen and (max-width: 580px) {
  main {
    padding-bottom: 167px;
  }
}
footer {
  background: url('/skins/default/img/pattern.png') #d4eff4;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
footer .footer-block {
  margin: 0 auto;
  width: 1010px;
  padding: 5px 0;
}
@media screen and (max-width: 1024px) {
  footer .footer-block {
    width: 100%;
  }
}
.errors {
  border-color: red !important;
}
.no-errors {
  border-color: #9bd6e7 !important;
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
}
.iEror {
  font: 140pt MyriadPro;
  color: #42D2E1;
  text-align: center;
}
@media screen and (min-width: 513px) {
  .iEror {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
@media screen and (max-width: 512px) {
  .iEror {
    font-size: 110pt;
  }
}
.logo {
  width: 186px;
  float: left;
}
a[class^="lang_"] {
  display: inline-block;
  float: left;
  background: url('/skins/default/img/image.png') no-repeat -353px -18px;
  width: 45px;
  height: 32px;
  text-decoration: none;
  text-align: center;
  color: #d4eff4;
  line-height: 32px;
  font-size: 16px;
  font-family: ComicSansMS;
}
a[class^="lang_"].act-lang,
a[class^="lang_"]:hover {
  color: #FFE600;
}
a[class^="lang_"].lang_ua {
  margin-left: 22px;
}
a[class^="lang_"].lang_ru {
  margin: 14px 0 0 5px;
}
.call-us {
  float: right;
  text-decoration: none;
  color: #3f627b;
  font-family: ComicSansMS;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  background: url('/skins/default/img/image.png') -55px -105px no-repeat;
  width: 490px;
  height: 41px;
  display: inline-block;
  line-height: 33px;
  margin-top: 10px;
}
@media screen and (max-width: 720px) {
  .call-us {
    background: url('/skins/default/img/image.png') -65px -59px no-repeat;
    width: 425px;
    font-size: 20px;
  }
}
@media screen and (max-width: 640px) {
  .call-us {
    background: url('/skins/default/img/image.png') 0 0 no-repeat;
    width: 305px;
    font-size: 17px;
  }
}
@media screen and (max-width: 512px) {
  .call-us {
    background: url('/skins/default/img/image.png') -64px -104px no-repeat;
    width: 100%;
    font-size: 20px;
    margin: 20px 0 0 0;
    border-radius: 50px 40px 80px 70px;
  }
}
@media screen and (max-width: 360px) {
  .call-us {
    font-size: 17px;
  }
}
.top-menu {
  float: right;
  margin-top: 20px;
  -webkit-transition: margin-top 0.7s ease;
  -moz-transition: margin-top 0.7s ease;
  -o-transition: margin-top 0.7s ease;
  transition: margin-top 0.7s ease;
}
.top-menu ul {
  list-style: none;
  float: right;
}
@media screen and (max-width: 848px) {
  .top-menu ul {
    display: none;
  }
}
.top-menu li {
  float: left;
  margin-right: 32px;
}
@media screen and (max-width: 960px) {
  .top-menu li {
    margin-right: 16px;
  }
}
@media screen and (max-width: 854px) {
  .top-menu li {
    margin-right: 14px;
  }
}
.top-menu li:last-child {
  margin-right: 24px;
}
.top-menu li:last-child span {
  background: url('/skins/default/img/image.png') -322px -18px no-repeat;
  width: 20px;
  height: 25px;
  display: inline-block;
  font-size: 13px;
  text-align: center;
  color: #FFF;
  position: absolute;
  top: 0;
  right: -22px;
}
.top-menu li.active a:after {
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.top-menu a {
  color: #482200;
  text-decoration: none;
  font-family: ComicSansMS;
  font-size: 18.5px;
  position: relative;
}
.top-menu a:after {
  display: inline-block;
  content: '';
  background: url('/skins/default/img/image.png') -319px -6px no-repeat;
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: -9px;
  left: 0;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: opacity 0.7s ease;
  -moz-transition: opacity 0.7s ease;
  -o-transition: opacity 0.7s ease;
  transition: opacity 0.7s ease;
  -webkit-border-radius: 30px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 30px;
  -moz-background-clip: padding;
  border-radius: 30px;
  background-clip: padding-box;
}
.top-menu a:hover:after {
  display: inline-block;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition: opacity 0.7s ease;
  -moz-transition: opacity 0.7s ease;
  -o-transition: opacity 0.7s ease;
  transition: opacity 0.7s ease;
}
.top-menu .menu-icon {
  display: none;
}
.pushy-mob-menu {
  display: none;
  float: left;
  width: 100%;
  margin-top: 10px;
  background-color: rgba(212, 239, 244, 0.6);
}
.pushy-mob-menu .menu-icon {
  display: none;
}
.pushy-mob-menu ul {
  overflow: hidden;
  border-top: 2px dashed #FFF;
  border-bottom: 2px dashed #fff;
  padding: 10px 0;
}
.pushy-mob-menu li {
  margin: 4px 0;
  position: relative;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.pushy-mob-menu li:before {
  content: '';
  position: absolute;
  height: 3px;
  background-color: #7BD7E8;
  width: 6%;
  top: 50%;
  left: 0;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.pushy-mob-menu li:after {
  content: '';
  position: absolute;
  height: 3px;
  background-color: #7BD7E8;
  top: 50%;
  right: -57%;
  width: 57%;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
@media screen and (max-width: 640px) {
  .pushy-mob-menu li:after {
    width: 46%;
  }
}
@media screen and (max-width: 480px) {
  .pushy-mob-menu li:after {
    width: 36%;
  }
}
@media screen and (max-width: 390px) {
  .pushy-mob-menu li:after {
    width: 24%;
  }
}
.pushy-mob-menu li:last-child {
  display: none;
}
.pushy-mob-menu li:hover {
  background-color: rgba(175, 225, 233, 0.5);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.pushy-mob-menu li:hover:after {
  right: 2%;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.pushy-mob-menu li.active {
  background-color: rgba(175, 225, 233, 0.5);
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.pushy-mob-menu li.active:before {
  left: 0;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.pushy-mob-menu li.active:after {
  right: 2%;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.pushy-mob-menu a {
  color: #482200;
  text-decoration: none;
  font-family: ComicSansMS;
  font-size: 21px;
  padding: 6px 8%;
  width: 84%;
  display: inline-block;
  font-weight: bold;
  text-shadow: 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 2px 2px #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 3px 3px #fff, -3px -3px 0 #fff, 3px -3px 0 #fff, -3px 3px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 3px 0 0 #fff, -3px 0 0 #fff, 0 3px 0 #fff, 0 -3px 0 #fff;
}
.fixed-menu {
  position: fixed;
  width: 100%;
  z-index: 99;
  max-width: 1010px;
  top: 3px;
  padding: 3px 0 10px 0;
  background-color: #D4EFF4;
  margin: 0;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(15, 15, 15, 0.3);
  -moz-box-shadow: 0px 0px 10px 0px rgba(15, 15, 15, 0.3);
  box-shadow: 0px 0px 10px 0px rgba(15, 15, 15, 0.3);
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
}
@media screen and (max-width: 848px) {
  .fixed-menu {
    display: none;
  }
}
.fixed-menu .menu-icon {
  display: inline-block;
  position: absolute;
  left: 7px;
  top: 5px;
  width: 30px;
  height: 32px;
  background: url("/skins/default/img/image.png") -405px -18px no-repeat;
}
.fixed-menu ul {
  float: left;
  margin-left: 10px;
}
.fixed-menu li {
  margin: 0 32px;
  position: relative;
}
.fixed-menu li:before {
  content: '';
  display: block;
  width: 1px;
  height: 30px;
  position: absolute;
  right: -30px;
  top: 0;
  background: #FFFFFF;
}
.fixed-menu li:last-child:before {
  display: none;
}
@media screen and (max-width: 960px) {
  .fixed-menu li {
    margin-right: 20px;
  }
}
@media screen and (max-width: 900px) {
  .fixed-menu li {
    margin: 0 22px 0 22px;
  }
}
@media screen and (max-width: 854px) {
  .fixed-menu li {
    margin-right: 12px;
  }
}
.mob-menu {
  display: block;
  font-size: 21px;
  float: right;
  font-family: ComicSansMS;
  color: #482200;
  cursor: pointer;
  margin: 10px 30px 10px 0;
  -webkit-transition: color 0.7s ease;
  -moz-transition: color 0.7s ease;
  -o-transition: color 0.7s ease;
  transition: color 0.7s ease;
}
.mob-menu.aciveMenu {
  color: #4C75A3;
  -webkit-transition: color 0.7s ease;
  -moz-transition: color 0.7s ease;
  -o-transition: color 0.7s ease;
  transition: color 0.7s ease;
}
@media screen and (min-width: 849px) {
  .mob-menu {
    display: none;
  }
}
@media screen and (max-width: 540px) {
  .mob-menu {
    float: left;
    margin: 10px 0 0 0;
    width: 100%;
    text-align: center;
    position: relative;
    border-top: 2px dashed #FFF;
    border-bottom: 2px dashed #fff;
    -webkit-transition: background 0.7s ease;
    -moz-transition: background 0.7s ease;
    -o-transition: background 0.7s ease;
    transition: background 0.7s ease;
  }
  .mob-menu:before {
    content: '';
    position: absolute;
    height: 3px;
    background-color: #7BD7E8;
    width: 0;
    top: 50%;
    left: 0;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  .mob-menu:after {
    content: '';
    position: absolute;
    height: 3px;
    background-color: #7BD7E8;
    top: 50%;
    right: 0;
    width: 0;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
  }
  .mob-menu.aciveMenu {
    padding: 2px 0;
    background-color: rgba(175, 225, 233, 0.5);
    border: 0;
    -webkit-transition: border 0.1s ease;
    -moz-transition: border 0.1s ease;
    -o-transition: border 0.1s ease;
    transition: border 0.1s ease;
  }
  .mob-menu.aciveMenu:after {
    width: 30%;
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
  }
  .mob-menu.aciveMenu:before {
    width: 30%;
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
  }
}
.mobile-basket {
  float: right;
  color: #482200;
  font-family: ComicSansMS;
  text-decoration: none;
  font-size: 21px;
  position: relative;
  margin: 10px 30px 10px 0;
}
.mobile-basket span {
  background: url('/skins/default/img/image.png') -322px -18px no-repeat;
  width: 20px;
  height: 25px;
  display: inline-block;
  font-size: 13px;
  text-align: center;
  color: #FFF;
  position: absolute;
  top: 0;
  right: -22px;
}
.mobile-basket:after {
  display: inline-block;
  content: '';
  background: url('/skins/default/img/image.png') -319px -6px no-repeat;
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: -9px;
  left: 0;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: opacity 0.7s ease;
  -moz-transition: opacity 0.7s ease;
  -o-transition: opacity 0.7s ease;
  transition: opacity 0.7s ease;
  -webkit-border-radius: 30px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 30px;
  -moz-background-clip: padding;
  border-radius: 30px;
  background-clip: padding-box;
}
.mobile-basket:hover:after {
  display: inline-block;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition: opacity 0.7s ease;
  -moz-transition: opacity 0.7s ease;
  -o-transition: opacity 0.7s ease;
  transition: opacity 0.7s ease;
}
@media screen and (min-width: 849px) {
  .mobile-basket {
    display: none;
  }
}
@media screen and (max-width: 512px) {
  .mobile-basket {
    margin: 20px 30px 0 80px;
  }
}
@media screen and (max-width: 400px) {
  .mobile-basket {
    margin-left: 0;
  }
}
.toTop {
  position: fixed;
  z-index: 99;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
  color: #482200;
  font-family: ComicSansMS;
  display: none;
  cursor: pointer;
  right: 20px;
  font-weight: bold;
  bottom: 160px;
}
.toTop:before {
  content: '';
  background: url("/skins/default/img/image.png") 0 -53px no-repeat;
  width: 60px;
  height: 100px;
  display: inline-block;
  position: absolute;
  bottom: 20px;
  left: -2px;
}
.toTop:hover {
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
}
.logo-img {
  float: left;
  margin-top: 5px;
}
@media screen and (max-width: 580px) {
  .logo-img {
    margin-left: 15%;
  }
}
@media screen and (max-width: 480px) {
  .logo-img {
    margin-left: 10%;
  }
}
@media screen and (max-width: 400px) {
  .logo-img {
    margin-left: 5%;
  }
}
.development-site {
  font-family: ComicSansMS;
  float: left;
  font-size: 14px;
  font-weight: bold;
  color: #482200;
  margin: 5px 0 0 15px;
}
@media screen and (max-width: 580px) {
  .development-site {
    float: right;
    text-align: center;
    width: 65%;
  }
}
.soc-link {
  float: right;
  font-family: ComicSansMS;
}
@media screen and (max-width: 580px) {
  .soc-link {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
}
.soc-link p {
  font-size: 14px;
  font-weight: bold;
  color: #482200;
  margin-top: 15px;
  float: left;
}
@media screen and (max-width: 800px) {
  .soc-link p {
    text-align: center;
    float: none;
    margin: 0;
  }
}
.soc-link a {
  font-size: 40pt;
  text-decoration: none;
  float: left;
}
@media screen and (max-width: 580px) {
  .soc-link a {
    text-align: center;
    display: inline-block;
    float: none;
  }
}
.soc-link a:hover {
  filter: alpha(opacity=90);
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
}
.main-banner {
  width: 100%;
  background: url('/skins/default/img/image.png') 50px -200px repeat-x #ffffff;
  font-size: 0;
  height: auto;
  max-height: 296px;
}
.slide-list {
  margin: 0 auto;
  width: 1010px;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .slide-list {
    width: 100%;
  }
}
.slide-list .next-slide {
  color: black;
  position: absolute;
  text-align: center;
  font-size: 40px;
  top: 50%;
  margin-top: -20px;
  background: #CECECE;
  cursor: pointer;
  z-index: 10;
  filter: alpha(opacity=20);
  -webkit-opacity: 0.2;
  -moz-opacity: 0.2;
  opacity: 0.2;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  left: 0;
}
.slide-list .next-slide:hover {
  color: #000;
  filter: alpha(opacity=70);
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.slide-list .prev-slide {
  color: black;
  position: absolute;
  text-align: center;
  font-size: 40px;
  top: 50%;
  margin-top: -20px;
  background: #CECECE;
  cursor: pointer;
  z-index: 10;
  filter: alpha(opacity=20);
  -webkit-opacity: 0.2;
  -moz-opacity: 0.2;
  opacity: 0.2;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  right: 0;
}
.slide-list .prev-slide:hover {
  color: #000;
  filter: alpha(opacity=70);
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media screen and (max-width: 1024px) {
  .slide-list img {
    width: 100%;
  }
}
.slide-wrap {
  position: relative;
  width: 10000000px;
  left: 0;
  top: 0;
}
.slide-wrap .slide-item {
  float: left;
}
.slide-wrap .slide-item img {
  height: auto;
}
.about-text {
  background: url('/skins/default/img/pattern.png') #d4eff4;
}
.about-text .about-block {
  margin: 0 auto;
  width: 1010px;
  padding-bottom: 10px;
}
@media screen and (max-width: 1024px) {
  .about-text .about-block {
    width: 100%;
  }
}
.about-text p:not(.title-text) {
  color: #482200;
  font-family: MyriadPro;
  margin-top: 5px;
  width: 76%;
  margin-right: 1%;
  float: left;
  text-shadow: 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 2px 2px #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 3px 3px #fff, -3px -3px 0 #fff, 3px -3px 0 #fff, -3px 3px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 3px 0 0 #fff, -3px 0 0 #fff, 0 3px 0 #fff, 0 -3px 0 #fff;
}
@media screen and (max-width: 1024px) {
  .about-text p:not(.title-text) {
    margin-left: 2%;
  }
}
@media screen and (max-width: 640px) {
  .about-text p:not(.title-text) {
    width: 97%;
    float: inherit;
    text-align: justify;
  }
}
.about-text img {
  width: 20%;
  max-width: 194px;
  margin-top: 20px;
}
@media screen and (max-width: 640px) {
  .about-text img {
    margin: 10px auto 0;
    width: 100%;
    display: block;
  }
}
.block-title {
  margin-bottom: 10px;
}
@media screen and (max-width: 1024px) {
  .block-title {
    width: 97%;
    margin: 0 auto;
  }
}
.block-title p,
.block-title h1 {
  width: 5% !important;
  padding: 0 15px;
  color: #482200;
  font: 30px ComicSansMS;
  font-weight: bold;
  display: table-cell;
  float: none !important;
  text-shadow: 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 2px 2px #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 3px 3px #fff, -3px -3px 0 #fff, 3px -3px 0 #fff, -3px 3px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 3px 0 0 #fff, -3px 0 0 #fff, 0 3px 0 #fff, 0 -3px 0 #fff;
}
.block-title .line {
  display: table-cell;
}
.block-title .line:before {
  content: '';
  width: 100%;
  height: 5px;
  display: block;
  position: relative;
  bottom: 5px;
  background-color: #7BD7E8;
}
.products {
  background: #ffffff;
  padding-top: 15px;
  margin: 0 auto;
  width: 1010px;
}
@media screen and (max-width: 1024px) {
  .products {
    width: 100%;
  }
}
.products .block-title:last-child {
  clear: both;
  margin-bottom: 20px;
}
.products .more-el {
  cursor: pointer;
  position: relative;
  font-size: 26px;
  -webkit-transition: color 0.7s ease;
  -moz-transition: color 0.7s ease;
  -o-transition: color 0.7s ease;
  transition: color 0.7s ease;
}
.products .more-el:hover {
  color: #3f627b;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.products .icon-bottom {
  font-size: 20px;
  position: absolute;
  right: 0;
  top: 13px;
}
.mattress {
  min-height: 315px;
  height: auto;
  text-align: center;
  width: 23%;
  float: left;
  margin: 10px 1% 0;
}
.mattress:hover img {
  bottom: 5px;
  -webkit-transition: bottom 300ms ease-out;
  -moz-transition: bottom 300ms ease-out;
  -o-transition: bottom 300ms ease-out;
  transition: bottom 300ms ease-out;
}
.mattress .links {
  text-decoration: none;
  margin: 10px 0 5px 0;
  font-family: ComicSansMS;
  color: #482200;
  width: 100%;
  display: inline-block;
  min-height: 50px;
  max-width: 250px;
}
@media screen and (max-width: 848px) {
  .mattress {
    width: 31%;
  }
}
@media screen and (max-width: 640px) {
  .mattress {
    width: 48%;
  }
}
@media screen and (max-width: 480px) {
  .mattress {
    width: 98%;
    margin-top: 20px;
  }
}
.photos {
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 1px solid #a12a97;
}
.photos img {
  position: relative;
  bottom: -13px;
  -webkit-transition: bottom 300ms ease-out;
  -moz-transition: bottom 300ms ease-out;
  -o-transition: bottom 300ms ease-out;
  transition: bottom 300ms ease-out;
}
.price {
  font-family: ComicSansMS;
  color: #a12a97;
  font-size: 21px;
  margin: 15px 0;
}
.aviability {
  color: #482200;
  font-family: ComicSansMS;
}
.no-element {
  text-align: center;
  color: #482200;
  font: 32px ComicSansMS;
  margin: 40px 0;
  width: 100%;
}
.information-shop {
  background: url('/skins/default/img/pattern.png') #d4eff4;
}
.information-shop .information-block {
  margin: 0 auto;
  width: 1010px;
  padding-bottom: 10px;
}
@media screen and (max-width: 1024px) {
  .information-shop .information-block {
    width: 97%;
  }
}
.information-shop h1 {
  color: #482200;
  font-family: ComicSansMS;
  font-size: 32px;
  margin-bottom: 15px;
  text-align: center;
  text-shadow: 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 2px 2px #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 3px 3px #fff, -3px -3px 0 #fff, 3px -3px 0 #fff, -3px 3px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 3px 0 0 #fff, -3px 0 0 #fff, 0 3px 0 #fff, 0 -3px 0 #fff;
}
.information-shop p {
  text-align: justify;
  color: #482200;
  font-family: MyriadPro;
  margin: 10px 0;
  text-shadow: 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 2px 2px #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 3px 3px #fff, -3px -3px 0 #fff, 3px -3px 0 #fff, -3px 3px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 3px 0 0 #fff, -3px 0 0 #fff, 0 3px 0 #fff, 0 -3px 0 #fff;
}
.information-shop p:nth-child(4) {
  font-size: 19px;
}
.information-shop ul {
  font-size: 15px;
  margin-left: 15px;
}
.information-shop li {
  color: #482200;
  margin: 10px 0 0;
  font-size: 16px;
  text-shadow: 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 2px 2px #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 3px 3px #fff, -3px -3px 0 #fff, 3px -3px 0 #fff, -3px 3px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 3px 0 0 #fff, -3px 0 0 #fff, 0 3px 0 #fff, 0 -3px 0 #fff;
}
@media screen and (max-width: 848px) {
  .information-shop li {
    text-align: justify;
  }
}
.delivery-payment {
  background: url('/skins/default/img/pattern.png') #d4eff4;
}
.delivery-payment .delivery-block {
  margin: 0 auto;
  width: 1010px;
  text-shadow: 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 2px 2px #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 3px 3px #fff, -3px -3px 0 #fff, 3px -3px 0 #fff, -3px 3px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 3px 0 0 #fff, -3px 0 0 #fff, 0 3px 0 #fff, 0 -3px 0 #fff;
  color: #482200;
  font-family: MyriadPro;
  padding-bottom: 10px;
}
@media screen and (max-width: 1024px) {
  .delivery-payment .delivery-block {
    width: 97%;
  }
}
.delivery-payment .block-title {
  width: 100%;
}
.delivery-payment strong {
  font-size: 14pt;
  font-family: ComicSansMS;
}
.delivery-payment p {
  margin-top: 5px;
  float: left;
  width: 60%;
}
@media screen and (max-width: 848px) {
  .delivery-payment p {
    width: 97%;
    float: inherit;
    text-align: justify;
  }
}
.delivery-payment ul {
  font-size: 15px;
  margin-left: 15px;
  float: left;
  width: 60%;
}
@media screen and (max-width: 848px) {
  .delivery-payment ul {
    width: 95%;
    float: inherit;
  }
}
.delivery-payment li {
  color: #482200;
  margin: 3px 0;
  font-size: 16px;
}
@media screen and (max-width: 848px) {
  .delivery-payment li {
    text-align: justify;
  }
}
.delivery-payment img {
  width: 36%;
  margin: 65px 0 0 2%;
}
@media screen and (max-width: 848px) {
  .delivery-payment img {
    margin: 15px auto 0;
    width: 97%;
    display: block;
    max-width: 370px;
  }
}
.contact {
  width: 100%;
  background: #ffffff;
  margin: 10px auto 50px;
  width: 1010px;
  font-family: MyriadPro;
  color: #482200;
}
@media screen and (max-width: 1024px) {
  .contact {
    width: 97%;
  }
}
.contact .block-title {
  width: 100%;
}
.contact .info-call {
  margin: 10px 0;
}
.contact span {
  color: #9e0000;
}
.contact form {
  margin: 0 auto;
  width: 600px;
}
@media screen and (max-width: 640px) {
  .contact form {
    width: 96%;
    margin: 0 2%;
  }
}
.contact input[type="email"],
.contact input[type="text"],
.contact textarea {
  padding: 4px 0;
  width: 100%;
  border: 1px solid #9bd6e7;
  outline: none;
}
.contact input[type="submit"] {
  border: 0;
  outline: none;
  cursor: pointer;
  padding: 10px 60px;
  background-color: #a12a97;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  font-family: MyriadPro;
  font-size: 17px;
  color: #fff;
  display: block;
}
.contact input[type="submit"]:hover {
  background-color: #c935bd;
}
.name-email {
  width: 220px;
}
@media screen and (max-width: 512px) {
  .name-email {
    width: 100%;
    margin-top: 10px;
  }
}
.name-email:first-child {
  float: left;
}
.name-email:nth-child(2) {
  float: right;
}
.thems,
.form-text {
  float: left;
  width: 100%;
  margin-top: 15px;
}
.thems + textarea,
.form-text + textarea {
  resize: none;
  min-height: 120px;
}
.acces-capcha {
  width: 220px;
  float: right;
  margin-top: 5px;
}
@media screen and (max-width: 450px) {
  .acces-capcha {
    width: 100%;
    margin: 10px 0;
  }
}
.this-ok,
.this-ok + p {
  font: 22px ComicSansMS;
  text-align: center;
}
.limit {
  font-size: 22px;
  margin-top: 15px;
  text-align: center;
}
.description {
  background: url('/skins/default/img/pattern.png') #d4eff4;
}
.description .description-block {
  margin: 10px auto;
  width: 1010px;
  padding-bottom: 10px;
}
@media screen and (max-width: 1024px) {
  .description .description-block {
    width: 97%;
  }
}
.description .block-title {
  width: 100%;
}
.description .block-title p {
  font-size: 22px;
}
.description .block-title .line:before {
  background-color: #72afc1;
}
.description .block-title .line:first-child {
  width: 5%;
}
.description-text {
  font-family: MyriadPro;
  float: left;
  width: 70%;
  margin-top: 10px;
  text-shadow: 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 2px 2px #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 3px 3px #fff, -3px -3px 0 #fff, 3px -3px 0 #fff, -3px 3px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 3px 0 0 #fff, -3px 0 0 #fff, 0 3px 0 #fff, 0 -3px 0 #fff;
}
@media screen and (max-width: 848px) {
  .description-text {
    width: 60%;
  }
}
@media screen and (max-width: 640px) {
  .description-text {
    width: 100%;
    float: inherit;
  }
}
.circle-photo {
  margin: 10px 30px 0 0;
  border: 5px solid #72afc1;
  width: 170px;
  height: 170px;
  background-color: white;
  overflow: hidden;
  z-index: 5;
  position: relative;
  float: right;
  -webkit-border-radius: 100%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 100%;
  -moz-background-clip: padding;
  border-radius: 100%;
  background-clip: padding-box;
}
.circle-photo img {
  position: absolute;
  left: -35px;
}
@media screen and (max-width: 640px) {
  .circle-photo {
    margin: 10px auto;
    float: inherit;
  }
}
.haracteristic {
  margin: 15px auto;
  width: 1010px;
}
@media screen and (max-width: 1024px) {
  .haracteristic {
    width: 97%;
  }
}
.haracteristic .block-title {
  width: 100%;
}
.haracteristic .block-title p {
  font-size: 22px;
}
.haracteristic .block-title .line:first-child {
  width: 5%;
}
.haracteristic table {
  width: 100%;
  margin-top: 10px;
  color: #482200;
  font: 16px MyriadPro;
  border-collapse: collapse;
}
.haracteristic tr {
  border-top: 1px solid #dedede;
}
.haracteristic td {
  padding: 5px 0;
}
.haracteristic td:nth-child(2n-1) {
  width: 50%;
}
.haracteristic td:nth-child(2n) {
  padding-left: 15px;
}
.mattress-detail {
  margin: 0 auto;
  width: 1010px;
  padding: 15px 0;
}
@media screen and (max-width: 1024px) {
  .mattress-detail {
    width: 97%;
  }
}
.mattress-detail h1 {
  font-size: 20px;
  font-family: ComicSansMS;
  color: #482200;
  margin-bottom: 10px;
  text-align: center;
}
.mattress-detail .slider-for {
  float: left;
  width: 70%;
  left: 20px;
  top: 35px;
}
@media screen and (max-width: 800px) {
  .mattress-detail .slider-for {
    top: 0;
    width: 90%;
  }
}
@media screen and (max-width: 512px) {
  .mattress-detail .slider-for {
    left: 0;
    width: 100%;
  }
}
.mattress-detail .item-photo img {
  margin: 0 auto;
  max-height: 270px;
  cursor: pointer;
  max-width: 380px;
}
@media screen and (max-width: 1024px) {
  .mattress-detail .item-photo img {
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  .mattress-detail .item-photo img {
    width: auto;
  }
}
@media screen and (max-width: 512px) {
  .mattress-detail .item-photo img {
    width: 90%;
  }
}
.mattress-detail .slider-nav {
  float: left;
  width: 20%;
  margin: 0 5px;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .mattress-detail .slider-nav {
    position: absolute;
    width: 97%;
    height: 100%;
  }
  .mattress-detail .slider-nav .slick-list {
    display: none;
  }
}
.mattress-detail .slider-nav .slick-center {
  border: 1px solid #ccc;
}
.mattress-detail .slider-nav .icon-top,
.mattress-detail .slider-nav .icon-bottom {
  color: #72AFC1;
  position: relative;
  cursor: pointer;
  font-size: 24pt;
}
.mattress-detail .slider-nav .icon-top:hover,
.mattress-detail .slider-nav .icon-bottom:hover {
  color: #00D7E6;
}
@media screen and (max-width: 800px) {
  .mattress-detail .slider-nav .icon-top,
  .mattress-detail .slider-nav .icon-bottom {
    z-index: 99;
    display: block;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    left: 0;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    font-size: 42pt;
  }
}
@media screen and (max-width: 800px) {
  .mattress-detail .slider-nav .icon-bottom {
    right: 0;
    left: auto;
  }
}
.goods {
  width: 46%;
  float: right;
  font-family: ComicSansMS;
  color: #482200;
}
@media screen and (max-width: 640px) {
  .goods {
    width: 100%;
  }
}
.goods p {
  margin: 10px 0;
}
.goods .price {
  float: left;
}
.slider-detail {
  float: left;
  position: relative;
  width: 54%;
  overflow: hidden;
}
@media screen and (max-width: 640px) {
  .slider-detail {
    width: 100%;
  }
}
.slider-detail .currenc .slick-current {
  border: 1px solid #ccc;
}
.slider-detail .slick-slider {
  margin-bottom: 0;
}
.slider-detail .good-view {
  width: 100%;
}
.slider-detail .slider-for.good-top {
  top: 0;
}
.slider-detail .items-photo {
  margin: 5px 0;
  cursor: pointer;
}
.slider-detail .items-photo img {
  margin: 0 auto;
  max-height: 270px;
  max-width: 100px;
}
@media screen and (max-width: 1024px) {
  .slider-detail .items-photo img {
    width: 100%;
  }
}
.add-shop {
  float: left;
  padding: 10px 20px !important;
  display: inline-block;
  margin: 10px 15px;
  border: 0;
  outline: none;
  cursor: pointer;
  padding: 10px 60px;
  background-color: #a12a97;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  font-family: MyriadPro;
  font-size: 17px;
  color: #fff;
}
.add-shop:hover {
  background-color: #c935bd;
}
.backet-ok {
  background: #FFF;
  border: 4px solid #a12a97;
  color: #a12a97;
  padding: 6px 18px !important;
  -webkit-transition: background 0.4s ease-out;
  -moz-transition: background 0.4s ease-out;
  -o-transition: background 0.4s ease-out;
  transition: background 0.4s ease-out;
}
.backet-ok:hover {
  background-color: #FFF;
  cursor: default;
}
.comments {
  margin: 0 auto;
  width: 1010px;
}
@media screen and (max-width: 1024px) {
  .comments {
    width: 97%;
  }
}
.view-comments {
  float: left;
  width: 54%;
  margin-bottom: 20px;
}
@media screen and (max-width: 854px) {
  .view-comments {
    width: 100%;
  }
}
.view-comments h3 {
  color: #482200;
  font: 29px ComicSansMS;
  margin-top: 20px;
  font-weight: normal;
  margin-bottom: 0;
}
.view-comments h3 + p {
  color: #482200;
  font: 19px ComicSansMS;
  margin-top: 10px;
}
.comment-item {
  padding: 10px;
  border: 1px solid #dadada;
  margin: 30px 0 0 0;
  background: #f9f9f9;
  background: -moz-linear-gradient(top, #f9f9f9 0%, #f8f8f8 17%, #f7f7f7 34%, #f6f6f6 51%, #f5f5f5 68%, #f4f4f4 84%, #f3f3f3 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #f9f9f9), color-stop(17%, #f8f8f8), color-stop(34%, #f7f7f7), color-stop(51%, #f6f6f6), color-stop(68%, #f5f5f5), color-stop(84%, #f4f4f4), color-stop(100%, #f3f3f3));
  background: -webkit-linear-gradient(top, #f9f9f9 0%, #f8f8f8 17%, #f7f7f7 34%, #f6f6f6 51%, #f5f5f5 68%, #f4f4f4 84%, #f3f3f3 100%);
  background: -o-linear-gradient(top, #f9f9f9 0%, #f8f8f8 17%, #f7f7f7 34%, #f6f6f6 51%, #f5f5f5 68%, #f4f4f4 84%, #f3f3f3 100%);
  background: -ms-linear-gradient(top, #f9f9f9 0%, #f8f8f8 17%, #f7f7f7 34%, #f6f6f6 51%, #f5f5f5 68%, #f4f4f4 84%, #f3f3f3 100%);
  background: linear-gradient(to bottom, #f9f9f9 0%, #f8f8f8 17%, #f7f7f7 34%, #f6f6f6 51%, #f5f5f5 68%, #f4f4f4 84%, #f3f3f3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f3f3f3', GradientType=0);
}
.comment-item .text-coment {
  font: 16px MyriadPro;
  color: #482200;
  float: none;
}
.comment-item p {
  font-size: 22px;
  margin-top: 10px;
  font-family: ComicSansMS;
  color: #1a6ab5;
  float: left;
}
.comment-item time {
  color: #1a6ab5;
  font-size: 14px;
  font-family: ComicSansMS;
  float: right;
  margin-top: 20px;
}
.no-comments {
  font-family: MyriadPro;
  font-size: 22px;
  color: #a12a97;
  margin-top: 30px;
}
@media screen and (max-width: 480px) {
  .no-comments {
    font-size: 14pt;
  }
}
.form-comment {
  float: right;
  width: 42%;
  min-height: 406px;
}
@media screen and (max-width: 854px) {
  .form-comment {
    margin-left: 5px;
    width: 100%;
  }
}
.form-comment h3 {
  color: #482200;
  font-size: 29px;
  font-family: ComicSansMS;
  margin: 20px 0 0 0;
  font-weight: normal;
}
.form-comment p {
  color: #482200;
  font: 15px MyriadPro;
}
.form-comment p:first-child {
  margin-top: 20px;
}
.form-comment input {
  padding: 4px 0;
  border: 1px solid #9bd6e7;
  width: 200px;
  outline: none;
  margin-bottom: 10px;
}
.form-comment textarea {
  resize: none;
  min-height: 120px;
  padding: 4px 0;
  border: 1px solid #9bd6e7;
  width: 100%;
  outline: none;
  max-width: 600px;
  margin-bottom: 10px;
}
.form-comment input[type="submit"] {
  border: 0;
  outline: none;
  cursor: pointer;
  padding: 10px 60px;
  background-color: #a12a97;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  font-family: MyriadPro;
  font-size: 17px;
  color: #fff;
  display: block;
}
.form-comment input[type="submit"]:hover {
  background-color: #c935bd;
}
.form-comment input[type="submit"]:active {
  padding-top: 11px;
  height: 40px;
}
.thanks {
  color: #482200;
  font: 22px ComicSansMS;
  text-align: center;
  margin-top: 20px;
}
.hack-error,
.thanks {
  display: none;
}
.order {
  color: #482200;
  font-family: MyriadPro;
  margin: 0 auto;
  width: 1010px;
}
@media screen and (max-width: 1024px) {
  .order {
    width: 97%;
  }
}
.order .h-title {
  font-size: 29px;
  text-align: left;
  font-family: ComicSansMS;
  margin-bottom: 15px;
}
@media screen and (max-width: 480px) {
  .order .h-title {
    font-size: 24px;
  }
}
.order input[type="submit"] {
  border: 0;
  outline: none;
  cursor: pointer;
  padding: 10px 60px;
  background-color: #a12a97;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  font-family: MyriadPro;
  font-size: 17px;
  color: #fff;
  padding: 10px 25px;
}
.order input[type="submit"]:hover {
  background-color: #c935bd;
}
.order input[type="submit"]:active {
  padding-top: 11px;
  height: 40px;
}
.sum-price {
  margin: 30px 0;
  padding: 5px 0;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}
.sum-price span {
  color: #a12a97;
}
.table-count {
  max-width: 630px;
  margin-right: 5px;
}
.line-tab-goods {
  width: 100%;
  border: 1px solid #dedede;
  border-top: 0;
  border-collapse: collapse;
}
.line-tab-goods .del-good {
  cursor: pointer;
}
.line-tab-goods .del-good:hover .icon-cross:before {
  color: #F70000;
}
.line-tab-goods tr:not(:first-child) {
  border-top: 1px dashed #613f21;
}
.line-tab-goods tr td {
  padding: 5px;
  width: 22%;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .line-tab-goods tr td {
    width: 33%;
  }
}
@media screen and (max-width: 480px) {
  .line-tab-goods tr td:first-child {
    display: none;
  }
}
.line-tab-goods tr td:nth-child(2) {
  width: 30%;
}
.line-tab-goods tr td:last-child {
  width: 4%;
}
.line-tab-goods tr td:last-child .icon-cross:before {
  cursor: pointer;
}
.line-tab-goods tr td:nth-child(4) {
  color: #a12a97;
}
.line-tab-goods tr td img,
.line-tab-goods tr td span,
.line-tab-goods tr td a,
.line-tab-goods tr td input {
  vertical-align: middle;
  text-align: center;
}
.line-tab-goods tr td input {
  width: 40px;
  outline: none;
  border-radius: 3px;
  border: 1px solid #7BD7E8;
  padding: 4px;
}
.line-tab-goods tr td img {
  width: 100%;
}
.headers-tab p {
  float: left;
  background-color: #613f21;
  text-align: center;
  color: #fff;
  padding: 4px 0;
  height: 20px;
  display: table-cell;
  width: 22%;
}
@media screen and (max-width: 480px) {
  .headers-tab p {
    width: 33%;
  }
}
@media screen and (max-width: 480px) {
  .headers-tab p:first-child {
    display: none;
  }
}
.headers-tab p:nth-child(2) {
  width: 30%;
}
.headers-tab p:last-child {
  width: 4%;
}
.order-form {
  border-bottom: 1px solid #dedede;
  margin-bottom: 15px;
  padding-bottom: 30px;
}
.order-form p {
  float: left;
  clear: both;
  width: 40%;
  max-width: 250px;
  margin: 15px 0 0;
  line-height: 25px;
}
.order-form p span {
  color: #9e0000;
}
.order-form input,
.order-form select {
  float: left;
  margin: 15px 0 0;
  width: 230px;
  outline: none;
  padding: 4px 0;
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  background-clip: padding-box;
  border: 1px solid #7BD7E8;
}
@media screen and (max-width: 512px) {
  .order-form input,
  .order-form select {
    width: 180px;
    float: right;
  }
}
.order-form .capcha {
  clear: both;
  display: block;
}
.no-goods {
  font-family: ComicSansMS;
  font-size: 24px;
  text-align: center;
  padding: 60px 0;
}
@media screen and (min-width: 513px) {
  .no-goods {
    position: absolute;
    padding: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
.no-goods a {
  color: #3f627b;
}
.no-goods a:hover {
  text-decoration: none;
}
.care {
  margin: 20px 0 40px 10px;
}
#container span[class*="icon-"] {
  position: relative;
  top: 1px;
}
@font-face {
  font-family: 'icomoon';
  src: url('font/icomoon.eot?dalanp');
  src: url('font/icomoon.eot?dalanp#iefix') format('embedded-opentype'), url('font/icomoon.ttf?dalanp') format('truetype'), url('font/icomoon.woff?dalanp') format('woff'), url('font/icomoon.svg?dalanp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-left:before {
  content: "\e314";
}
.icon-right:before {
  content: "\e315";
}
.icon-top:before {
  content: "\e316";
}
.icon-mob-menu:before {
  content: "\e903";
}
.icon-bottom:before {
  content: "\e317";
}
.icon-facebook:before {
  content: "\e900";
  color: #3a589b;
}
.icon-vkontakte:before {
  content: "\e901";
  color: #4c75a3;
}
.icon-instagram:before {
  content: "\e902";
  color: #000000;
}
.icon-cross:before {
  content: "\e904";
  color: #ccc;
}
.icon-close:before {
  content: "\e904";
}
.icon-check-ok:before {
  content: "\e905";
  color: #00D808;
}
.icon-basket:before {
  content: "\e906";
}
.icon-google-plus3:before {
  content: "\e907";
  font-size: 32pt;
  color: #D0422A;
  padding: 0 4px;
  position: relative;
  top: -4px;
}
.slick-slider {
  position: relative;
  display: block;
  -webkit-touch-callout: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
.fixed-overlay {
  text-align: center;
  position: fixed;
  display: none;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
}
.fixed-overlay .modal {
  align-items: center;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.fixed-overlay .modal img {
  width: 700px;
  max-width: 700px;
  display: block;
  max-height: 550px;
}
@media screen and (max-width: 970px) {
  .fixed-overlay .modal img {
    max-width: 600px;
  }
}
.fixed-overlay .modal_container {
  margin: auto;
  padding: 10px;
  min-width: 200px;
  background-color: #fff;
  color: #000;
  position: relative;
  border: 2px solid #0066A2;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
}
.fixed-overlay .icon-close {
  background: #000;
  padding: 7px;
  border-radius: 100%;
  position: absolute;
  right: -10px;
  top: -10px;
  z-index: 99;
  cursor: pointer;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.fixed-overlay .icon-close:hover {
  color: #0066A2;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.fixed-overlay .btnModal-right,
.fixed-overlay .btnModal-left {
  position: absolute;
  z-index: 99;
  top: 50%;
  margin-top: -15px;
  background: #000;
  padding: 5px;
  border-radius: 100%;
  cursor: pointer;
  color: #fff;
  border: 2px solid white;
  font-size: 20pt;
  font-weight: bold;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.fixed-overlay .btnModal-right:hover,
.fixed-overlay .btnModal-left:hover {
  color: #0066A2;
  border-color: #0066A2;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.fixed-overlay .btnModal-right {
  left: -70px;
}
.fixed-overlay .btnModal-right.icon-top {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.fixed-overlay .btnModal-left {
  right: -70px;
}
.fixed-overlay .btnModal-left.icon-bottom {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
