@charset "utf-8";

body, footer, .slide-list, .slide-item{
max-width: 1024px;
}

html{
min-height: 100%;
}

body{
margin: 0 auto;
margin-bottom: 110px;
}

div, p, h1, h2, h3, h4, h5, h6, a, i, table, tr, td, span, ul, li{
word-wrap: break-word;
margin: 0;
padding:0;
}

html, .content, header div, .content div, header, .basketDesc, ul,li{
position: relative;
}

header div,
.content div,
header,
.content,
.top-menu ul,
.top-menu ul li{
float:left;
}

.clear{
clear:both;
}

.HcItem{
margin-top:10px;
}

.top-menu ul{
list-style: none;
}

footer{
position: absolute;
bottom: 0;
background-color: #78ABFF;
padding: 10px 0;
}

footer,
.info-link p a{
color: #FFF;
}

.top-menu ul li:nth-child(3){
position: absolute;
right: 70px;
}

footer,
header,
.info-link,
.top-menu ul,
div.top-menu ul li:hover a span,
.content,
.administration
{
width:100%;
}

.top-menu{
width:75%;
margin-left:20px;
height: 193px;
}

.info-link p{
text-align: center;
margin: 5px 0;
}

.info-link p a{
display:inline-block;
margin: 0 3px;
font-size:15pt;
}

.top-menu ul li{
font-size: 16pt;
margin: 15px 0 0 2%;
}

div.top-menu ul li a,
.langs a,
.hText span{
color:#78ABFF;
}

div.top-menu ul li a span{
display:none;
}

div.top-menu ul li:hover a span{
display:block;
height: 7px;
position: absolute;
}

a{
text-decoration:none;
color:#000;
}

.auth{
width: 42%;
top: 100px;
left: 230px;
border: 2px solid #E0E0E0;
border-radius: 5px;
padding: 30px 0 30px 140px;
}

.auth p{
font-size:18pt;
}

.auth form input{
border:1px solid #78ABFF;
}

.auth form div:first-child input{
margin-left:23px;
}

.auth form input[type='submit']{
outline: none;
cursor: pointer;
background-color: #78ABFF;
color: #FFF;
border-radius: 2px;
padding: 5px 15px;
display: block;
margin-top: 5px;
}

.auth form input[type='submit']:hover{
background-color: #FFE30E;
border-color:#FFE30E;
}

.auth p, .auth span, .administration{
color:#78ABFF;
}

.auth form div, .auth p{
width:75%;
margin-top:5px;
}

.auth form .error{
border:1px solid red;
}

.administration {
font-size: 28pt;
text-align: center;
padding: 100px 0;
}

.top-menu li:last-child{
position:absolute;
right: 0;
}

div.top-menu ul li a.active span{
display: block;
height: 7px;
position: absolute;
width: 100%;
}

.commentview,
.commentview form table,
.line-silver,
.comment-list{
width:100%;
}

.commentview, .comment-item{
position:relative;
}

.line-silver,
.line,
.line span{
display: block;
}

.line-silver,
.commentview{
float:left;
}

.commentview{
margin-top:15px;
}

.line-silver{
height: 1px;
font-size: 1px;
background-color: #e8e8e8;
}

.comment-item span{
display:inline-block;
}

.comment-item .text{
width:98%;
}

.no-item{
color:#78ABFF;
}

.line{
height: 1px;
font-size: 1px;
}

.line span{
background-color: #e8e8e8;
width: 50%;
margin-left: 50%;
height: 1px;
font-size: 1px;
}

.line-silver{
height: 1px;
font-size: 1px;
background-color: #e8e8e8;
}

.line{
background-color: #78ABFF;
}

.no-item{
font-size: 16pt;
margin-left: 5px;
}

.no-item,
.comment-item{
padding:15px 0;
}

.comment-item .text{
padding: 0 0 5px 15px;
}

.comment-item span:nth-child(2){
padding-left:15px;
font-size: 9pt;
}

.comment-item span:first-child{
font-weight: bold;
padding-left: 5px;
}

.comment-item .text,
.comment-item span{
color:#8e8c8c;
}

.comment-item.grean{
background-color: rgba(19, 255, 0, 0.2);
}
.comment-item.red{
background-color: rgba(255, 0, 0, 0.09);
}

.comment-list form input[name='delete'],
.comment-list form input[name='active'],
.comment-list form input[name='deactive'],
.comment-list form input[name='filter']{
position: absolute;
top: -30px;
right: 0;
outline: none;
cursor: pointer;
color: #FFF;
border-radius: 2px;
padding: 5px 15px;
border: 0;
background-color: #78ABFF;
}

.comment-list form input[name='active']{
right: 225px;
}

.comment-list form input[name='filter']{
left: 110px;
}

.comment-list select[name="cat"]{
display: block;
position: absolute;
top: -30px;
height: 25px;
}

.comment-list form input[name='deactive']{
right: 100px;
}

.comment-list form input[type='submit']:hover {
background-color: #FFE30E;
border-color: #FFE30E;
}

.editWindow{
position: absolute;
right: 0;
top: 0;
}

.editWindow a{
color: #ABABAB;
border-bottom: 1px dashed;
}
.editWindow a:hover{
border-bottom: 0;
}
.h1{
color:rgb(23, 206, 39);
font-size:26pt;
position: absolute;
top: -110px;
left: 330px;
}
.edit-style{
width: 100%;
height: 350px;
border: 1px solid #ccc;
background: rgba(236, 236, 236, 0.31);
}
.input-value{
margin:20px;
position:relative;
}
.input-value textarea{
width: 970px;
height:160px;
}
.input-value input,
.input-value textarea{
padding:4px;
resize: none;
outline: none;
}
.input-value input:focus{
border:1px solid #78ABFF;
padding: 5px;
}
.input-value textarea:focus{
padding:4px;
border:1px solid #78ABFF;
}
.input-value .error{
position: absolute;
left: 190px;
top: 30px;
color: red;
}
.input-value:nth-child(3n) .error{
position: absolute;
left: 400px;
top: 0px;
color: red;
}
.input-value p:nth-child(1){
color:#482200;
}
.input-value p:nth-child(1) span {
color: #9e0000;
}
.edit-style input[type="submit"] {
border: 0;
outline: none;
cursor: pointer;
padding: 10px 60px;
background-color:#a12a97;
border-radius:3px;
font-size: 13pt;
color: #fff;
}

div.edit-style input[type="submit"]:hover{
background-color: #c935bd;
}

.edit-style input[type="submit"]:active{
padding-top: 11px;
height: 40px;
}